#nav{
    float:right;
    margin: auto 0;
}

.input{
    width:100%;
}

.message{
    width:100%;
    height: 200px;
}

.form{
    margin: 10px auto;
    width: 85%;
}

.social{
    position: absolute;
    right: 50px;
    top: 118px;
    text-align: center;
    float: left;
    width: 20%;
    margin: 0px auto;
    background: #a9a8ad;
    border: solid;
    border-width: 2px;
    border-color: #000000;
}

.socialImg{
    padding: 10px 0px;
    width: 80px;
    height: 80px;
}

contactC{
    position: relative;
}

.contactForm{
    position: relative;
    left: 50px;
    margin: 0px auto;
    float: left;
}

h1, h2, h3, h4, h5, h6, h7{
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.mainContainer{
    margin: 0px;
    padding: 0px;
}

#hd{
    width:70%;
    margin:0 auto;
}

a{
    text-decoration: none;
    color:#1b4fa2;
}

.portImg{
    margin: 0px auto;
    width:100%;
}
/* continue by adding heigth width and position for all test images. Then add position and left, right, top bottom for all text */

.test{
    padding: 14px 7px;
    float: left;
    width:200px;
    height:200px;
    position: relative;
}

.pImg{
    float: left;
}

.pImg1{
    position: relative;
}

.pImg2{
    position: relative;
}

.pImg3{
    position: relative;
}

.pImg4{
    position: relative;
}

.pImg5{
    position: relative;
}

.pImg6{
    position: relative;
}

.imgP1{
    position: absolute;
    bottom: 0px;
    left: 65px;
}

.imgP2{
    position: absolute;
    bottom: 0px;
    left: 65px;
}

.imgP3{
    position: absolute;
    bottom: 0px;
    left: 65px;
}

.imgP4{
    position: absolute;
    bottom: 0px;
    left: 65px;
}

.imgP5{
    position: absolute;
    bottom: 0px;
    left: 65px;
}

.imgP6{
    position: absolute;
    bottom: 0px;
    left: 65px;
}

.aboutMe{
    width: 70%;
    margin:50px auto;
    background: #a9a8ad;
    border: solid;
    border-width: 2px;
    border-color: #000000;
}

hr { 
    margin: 0px 10px;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

#image{
    margin: 10px 10px 0px 35px;
    float:left;
    width: 26%;
}

#aboutPar{
    margin: 0px 0px;
    float:left;
    width:67%;
}

h1{
    text-align: center;
    float:left;
    background:#1b4fa2;
    width:200px;
    padding:20px;
    color:white;
    margin: 0px;
}

h2{
    position: relative;
    left: 60px;
    color:#1b4fa2;
}

h4{
    float:right;
    padding: 0px 20px;
}

header{
    background: rgba(169,168,173, 0.8);
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #000000;
}

.portImg{
    width: 65%;
    height: 65%;
}

body{
    padding: 0px;
    margin: 0px;
    background-image: url("../images/IMG_0092.png");
}

footer{
    opacity: 0.8;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #1b4fa2;
    padding:40px 0px 0px 0px;
    text-align: center;
    background:#a9a8ad;
    margin:0px auto;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #000000;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

@media screen and (max-width: 1100px) {
    .contactForm{
        float:none;
        width: 90%;
        position: static;
    }
    .social{
        position: static;
        float:none;
        width: 90%;
    }
    footer{
        position: relative;
        left: 0px;
        bottom: 0px;
    }
}

@media screen and (max-width: 768px) {
    #image{
        margin: 10px;
        float:none;
        width: 100%;
    }
    .portImg{
        width: 90%;
    }
    #aboutPar{
        width: 95%;
        margin: 10px 10px;
    }
    .aboutme{
        width: 100%;
    }
    footer{
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}

@media screen and (max-width: 640px) {
    #image{
        margin: 10px;
        float:none;
        width: 100%;
    }
    .portImg{
        width: 90%;
    }
    #aboutPar{
        width: 95%;
        margin: 10px 10px;
    }
    .aboutme{
        /* float: none; */
        width: 100%;
    }
    footer{
        position: relative;
        left: 0px;
        bottom: 0px;
    }
}